{% extends 'base.html' %}


{% block content %}



<div class="d-flex align-items-center py-5 bg-body-tertiary text-center">
    <main class="form-signin w-75 m-auto container">

        <form method="POST" class="w-75 m-auto">
            {% csrf_token %}
            <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="mb-4 fw-bold">Inicio Sesion</h1>

            <div class="form-floating mb-0">
                <input type="email" class="form-control rounded rounded-bottom-0" id="floatingInput"
                    placeholder="name@example.com" name="username" required>
                <label for="floatingInput">Correo Electronico</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control rounded rounded-0" id="floatingPassword"
                    placeholder="Password" name="password" required>
                <label for="floatingPassword">Contrasena</label>
            </div>
            <h4 class="mt-3">Autenticación de dos factores</h4>
            <p class="mt-0">Ingrese el codigo generado en Google Authenticator:</p>
            <div class="form-floating mb-3">
                <input type="number" maxlength="6" class="form-control rounded rounded-0" id="floatingPassword" placeholder="Password"
                    name="code" required>
                <label for="floatingPassword">Codigo OTP</label>
            </div>
            {{error}}
            <br>
            <button class="btn btn-primary w-50 py-2 mx-auto" type="submit">Iniciar Sesion</button>
            <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
        </form>
    </main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

</div>
{% endblock %}